{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/create.css') }}" />
{% endblock %}

{% block title %}Création d'une actualité{% endblock %}

{% block body %}
    <div class="form__create">
        <p>Création d'une actualité</p>

        <form name="actualite" method="post" enctype="multipart/form-data">
            {{ form_widget(form) }}
            <button id="form_create" type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>
{% endblock %}

