{% extends 'base.html.twig' %}

{% block title %}Message reinitialisation envoyé{% endblock %}

{% block body %}
    <p>
        Si votre adresse mail est bien lié à un compte, un email vous a été envoyé contenant le lien vous permettant de reinitialiser votre mot de passe
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, veuilliez vérifier votre boite spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
