.submit-button{
    margin: 25px;
    background: #1cab3a linear-gradient(to right, #1cab3a, #2bbe72);
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0 solid #000;
    border-radius: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 221px;
    gap: 5px;
}

small{
    display: flex;
    margin: 5px;
    padding: 5px;
}