{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/delete.css') }}" />
{% endblock %}

<title>Suppression d'un sujet</title>

{% block body %}

    <div class="form__del">
        <p> Voulez-vous vraiment supprimer le sujet <strong>{{ sujet.titre }}</strong> ?</p>

        <div class="del__buttons">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}